@model DAL.Models.Appointment

@{
    Layout = null;
}

<h3 style="color:red;">Are you sure you want to delete?</h3>

<p>@Model.Name</p>
<p>@Model.Email</p>
<p>@Model.Date</p>
<p>@Model.Status</p>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" style="background:red;color:white;">
        Yes, Delete
    </button>

    <a asp-action="Index">No, Cancel</a>
</form>